<html>
<head>
<style>
body {
background-color: grey;
}
.f1{
margin-left:50px;
text-decoration-style: solid;
font-size:20px;
}
.c {
margin-top:10px;
margin-left:20px;
}
.s{
margin-top:10px;
margin-left:20px;
}
.st{
margin-top:10px;
margin-left:40px;
text-decoration-style: none;
}

.f{
position: absolute;
left: 37%;
background-color: black;
top:50px;
width: 20%;
color:white;
height:30%;

}
</style>
<form method='POST' class ="f" action="">
<div class="f1" >Login </div>
Name<input class= "c" type="text" name="username" />
<br>
password <input  class= "c" type="password" name="password"/>
<br>
Email <input class= "c" type="email" name="email"/>
<br>

<input class="s" type="Submit">
<button  class ="st" type="button" class="btn"><a href="/">Register</a></button>
<div>{{msg}}</div>
</form>
